*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-size: 1.2rem;
    color: #333;
}

.app-container{
    width: 600px;
    margin: 100px auto 40px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgb(0, 0, 0, 0.1);
}

.steps{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.steps div{
    padding: 12px 18px;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.steps .active{
    background-color: #7950f2;
    color: #ffffff;
    font-weight: bold;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: bold;
}
.message h3{
    margin-right: 10px;
}

.buttons {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.open-close{
    position: relative;
    top: 60px;
    left: 65px;
    margin-bottom: 1rem;
}