:root{
    --primary-color: #4caf50;
    --secondary-color: #ffffff;
    --dark-color: #2e2e2e;
    --light-bg: #f9f9f9;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: sans-serif;
    color: var(--dark-color);
    background-color: var(--light-bg);
}

button{
    border: none;
    background: none;
    font-size: larger;
}

.app{
    width: 70%;
    margin: 100px auto;
}

.item {
  padding: 2rem;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  cursor: pointer;
  border-radius: 1px;
  margin-bottom: 1.2rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 32px;
  column-gap: 24px;
  align-items: center;
}

.item-text{
    display: grid;
    grid-column: 2/-2;
    opacity: .8;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.number, .title, .icon {
    font-size: 24px;
    font-weight: 500;
}
.number{
    opacity: .4;
}

.item.active{
    border-top: 4px solid var(--primary-color);
}
.item.active .number, .item.active .title{
    color: var(--primary-color);
}
.item.active .number{
    opacity: .9;
}