:root{
    --primary-color: #4caf50;
    --secondary-color: #ffffff;
    --dark-color: #2e2e2e;
    --light-bg: #f9f9f9;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: sans-serif;
    color: var(--dark-color);
    background-color: var(--light-bg);
}

button{
    border: none;
    background: none;
    font-size: larger;
}

.app{
    width: 70%;
    margin-top: 5rem;
    margin-inline: auto;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--secondary-color);
  margin: 1.2rem 0;
  box-shadow: var(--shadow);
  border-radius: 1px;
  cursor: pointer;
}
/* 
.faq span {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0;
}

.faq div {
  flex-grow: 1;
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.faq.active {
  border-top: 4px solid var(--primary-color);
}
.faq.active h4{
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.faq p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.active-id {
  color: var(--primary-color);
}

 */


 .faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.faq-header span {
  font-weight: bold;
  font-size: 1.8rem;
  color: inherit;
  flex-shrink: 0;
  margin-right: 1rem;
}

.faq-header h4 {
  flex-grow: 1;
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.faq button {
  font-size: 2rem;
  cursor: pointer;
}

.faq-text {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-inline: 4rem;
}

.faq.active {
  border-top: 4px solid var(--primary-color);
}

.faq.active .title {
  color: var(--primary-color);
}

.active-id {
  color: var(--primary-color);
}

.active-id {
  color: var(--primary-color);
}