*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f7;
  padding: 10px;
}

.app{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-button{
  background-color: inherit;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}